@font-face {
    font-family: 'Niveau Grotesk';
    src: url('NiveauGroteskRegular.woff2') format('woff2'),
        url('NiveauGroteskRegular.woff') format('woff'),
        url('NiveauGroteskRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Niveau Grotesk';
    src: url('NiveauGroteskBlack.woff2') format('woff2'),
        url('NiveauGroteskBlack.woff') format('woff'),
        url('NiveauGroteskBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Niveau Grotesk';
    src: url('NiveauGroteskMedium.woff2') format('woff2'),
        url('NiveauGroteskMedium.woff') format('woff'),
        url('NiveauGroteskMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

